.weddingInvitation {
  position: relative;
  max-width: 600px;
  height: 100vh;
  margin: 0 auto;
  background: linear-gradient(45deg, #eac700, #ffd015, #f4cf00);
}

.imageCtn {
  display: grid;
  place-items: center;
  background-color: #f4f4f4;
  width: 100%;
  height: 100vh;
  position: absolute;
}

.main {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 20px;
}

.image,
.video {
  width: 100%;
}

.content {
  color: #000;
  padding: 25px 5px;
  width: 100%;
  text-align: center;
  font-size: 28px;
}

.btn {
  margin: 20px auto 10px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #fff;
  color: #000;
  border: 1px solid #00000090;
  border-radius: 22px;
  cursor: pointer;
  font-family: "Satisfy", cursive;
}

.slideUp {
  animation: slideUp 4s ease-in-out forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
